# Ignore personal .gitconfigs
.gitconfig

# Ignore items created by the project
*egg-info
run_logs
*.pyc
*__pycache__
.pytest_cache
build/
dist/

#Prevent data files from being committed
*.csv
D:/*.xlsx
D:/*.csv
*.xlsx
*.xlsx
*.zip
*.rds
*.rda
*.sav
*.dta
*.sas7bdat
*.mat

# Ignore general environment folders created by editors
.bash_history
.cache
.conda*
.coverage
*.ipynb_checkpoints
.ipython
.jupyter
.local
.oracle_jre_usage
.pip
.plotly
.pylint.d
.python_history
.ssh
.venv
.viminfo
.vscode*/
.vscode-server/
**~

# Ignore files used for documentation with Sphinx
docs/_build/

# Ignore wiki directory (it's a separate git repository)
wiki/
gdhi_adj.code-workspace
